$chatBG:rgb(163, 163, 163);
$msgBG:rgb(112, 112, 112);
$mainBG:#161616;
$primary-color: #3b82f6;
$primary-dark: #2563eb;
$white: #ffffff;
$black: #000000;
$gray-50: #f9fafb;
$gray-100: #272727;
$gray-200: #666666;
$gray-300: #636363;
$gray-600: #4b5563;
$gray-700: #374151;
$buttonBG: transparent;
$buttonBD: white 2px solid;

@mixin blur{
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      );
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
}
@mixin align($fdir){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $fdir;

}
